<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
     
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.descricao %></td>
        <td><%= link_to 'mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Remover', post, method: :delete, data: { confirm: 'Confirma Exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type= "button" "btn btn-primary"><%= link_to 'Novo', new_post_path %></button>
